<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label *ngFor="let item of flexiConfig.items">
     {{item.name}}
    <input *ngIf="item.type === 'TextField'" type="text" [formControlName]="item.name" required>
    <select *ngIf="item.type === 'DropDown'" [formControlName]="item.name">
        <option *ngFor="let value of item.values" [value]="value">{{value}}</option> 
      </select>
  </label>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>


<hr>

<p *ngIf="showResult">
  Form Value: {{ profileForm.value | json }}
</p>




