<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>
     Name:
    <input type="text" formControlName="name" required>
  </label>

  <label>
     State:
    <select  name="" id="" formControlName="state">
      <option value="">Please select a State</option>
      <option value="">TamilNadu</option>
      <option value="">Maharashtra</option>
      <option value="">Kerala</option>
    </select>
  </label>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>


<hr>

<p *ngIf="showResult">
  Form Value: {{ profileForm.value | json }}
</p>

  <p *ngFor="let data of flexiConfig">{{data.items}}</p>


